{% extends "base.html" %}

{% block title_head %}
Lista de planta
{% endblock title_head %}

{% block h1_header %}
Lista de plantas
{% endblock h1_header %}


{% block main %}

<a class="btn btn-success" href="{% url "crear_planta2" %}">Crear planta</a> 


{% if plantas %}
<ul>
    {% for planta in plantas %}
    <li>{{planta}} | 
        <a href="{% url "eliminar_planta" planta.id %}">Eliminar</a> | 
        <a href="{% url "editar_planta" planta.id %}">Editar</a> |
        <a href="{% url "ver_planta" planta.id %}">ver</a>  
    </li> 
    {% endfor %}
</ul>
{% else %}
<p>No hay plantas</p>
{% endif %}
{% endblock main %}


